{% extends 'base.html' %}

{% block title %}
  {{ title }} :: {{ block.super }}
{% endblock %}

{% block sidebar %}

{% include 'inc/_sidebar.html' %}

{% endblock %}

{% block content %}
{% for i in object_list %}
  <div class="card mb-3">
      <div class="card-header">
          Категория: <a href='{{ i.category.get_absolute_url }}'>{{ i.category }}</a>
      </div>
          <div class="card-body">
            <div class='media'>
              <div class='d-flex'>
                {% if i.photo %}
                  <img src='{{ i.photo.url }}' alt='' width='350' class='me-5'> 
                {% else %}
                  <img src='' alt='' class='me-3'>
                {% endif %}
                <div class='media-body'>
                  <h5 class="card-title">{{ i.title }}</h5>
                  <p class="card-text">{{ i.content|linebreaks|truncatewords:50 }}</p>
                    {% comment %} {% lorem 3 p random %} {% endcomment %}
                    {% comment %} ^ Лорем можно использовать и через джанго {% endcomment %}
                  <a href="{{ i.get_absolute_url }}" class="btn btn-primary">Read more...</a>
                </div>
              </div>
            </div>
          </div>
      <div class="card-footer text-muted">
          {{ i.created_at|date:'Y-m-d H:i' }}
      </div>
  </div>
{% empty %}
    Новостей сейчас нет...
{% endfor %}
{% endblock %}